<link href="~/css/modal.css" rel="stylesheet" />

<div>
  <div class="modal" tabindex="-1" role="dialog" id="AddOn">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-white mx-auto">Make your premium cheaper</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          </button>
        </div>

        <div class="modal-body pt-3 pb-3">

          <form>
            <div class="mb-3 form-check">
              <input class="form-check-input" type="checkbox" value="" id="check1">
              <label class="form-check-label" for="check1">
                Remove Pet Med Booster
              </label>
            </div>

            <div class="mb-3 form-check">
              <input class="form-check-input" type="checkbox" value="" id="check2">
              <label class="form-check-label" for="check2">
                Remove Excess Buster
              </label>
            </div>

            <div class="mb-3 form-check">
              <input class="form-check-input" type="checkbox" value="" id="check3">
              <label class="form-check-label" for="check3">
                Go Old School
                <br><small>No claim card. You pay and claim back.</small>
              </label>
            </div>

            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Continue</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
