@* /Pages/Shared/_Classic.cshtml — static content partial *@
<div class="col-md-4 offset-md-4 parial-classic mb-5">
<img src="~/images/plan-classic.png" alt="Super Plan" class="img-fluid mb-3" />
</div>
<div class="col-md-12">
  <div class="container mt-4 parial-classic">
    <div class="table-responsive">
      <table class="table table-bordered text-center">
        <tbody>
          <tr>
            <td class="col-6"><strong>Plan Overall Annual Limit</strong></td>
            <td class="col-6"><strong>R18 000</strong></td>
          </tr>
          <tr>
            <td colspan="2">
            <strong>The Onepet Premium Pet Store for Oneplan Pet Parents.</strong><br> 
              On the Primary Plan, you get up to 15% discount* storewide on Premium Pet Food brands and Pet Supplies for the lifetime of your policy.
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="col-md-12 text-center parial-classic mb-2">
  <a href="#" class="btn btn-primary">
    View Brochure for Plan & Benefit Breakdown
  </a>
</div>
<div class="col-md-12 text-center mt-3 mb-3">
  Premiums are risk profile dependent. Waiting Periods and T&Cs apply to all plans. Benefits and event limits are stipulated on the plan brochures. Excess applies (if you don’t have the Excess Buster)
</div>
