@page "{id:int}"
@model OnePlanPetJourney.Pages.Leads.PageNineModel

@{
    ViewData["Title"] = "Page Nine - Pet Overview";
    ViewData["CurrentStep"] = 9;
}

@if (TempData["Message"] is string msg)
{
    <div class="alert alert-success">@msg</div>
}

<div class="row">
    <div class="col-md-8 offset-md-2 mb-5">
        <h1 class="mb-4">Welcome to the Fur-tastic Oneplan Pet Family</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-8 offset-md-2 final-page">
        @if (Model.Pets != null && Model.Pets.Any())
        {
            foreach (var pet in Model.Pets)
            {   
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <div class="card mb-4 text-center">
                        <div class="card-header">
                            <h5>Your pet policy number for @pet.Name</h5>
                        </div>
                         <div class="card-body">
             
                         <h3 class="">XXXXXX</h3> 
                    </div>
                </div>
                    </div>
                </div>
               
            }
        }
        else
        {
            <div class="alert alert-info">No pets found for this lead.</div>
        }
    </div>
</div>
<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card frame">
        <div class="card-body text-center">
            <p>
                <b>You will receive 30% discount on your first 2 months' pet premiums (Excludes Accident Plan) while you serve your 2 month General Waiting period. 
                    Terms and Conditions apply.</b>
                <br>
                Terms and Conditions apply.
            </p>
               <div class="row justify-content-center align-items-center g-2 mb-3">
                <div class="col-4 col-sm-4 col-md-2  text-center">
                    <img src="~/images/store-andrioid.png" class="img-fluid" alt="Android" />
                </div>
                <div class="col-4 col-sm-4 col-md-2 text-center">
                    <img src="~/images/store-haw.png" class="img-fluid" alt="Huawei" />
                </div>
                <div class="col-4 col-sm-4 col-md-2 text-center">
                    <img src="~/images/store-apple.png" class="img-fluid" alt="Apple" />
                </div>
                </div>

             <p>
                Please see Section 7.16 of your policy wording for more. *T&Cs apply. All details, more information, and documents pertaining to your policy will be sent to your email.
            </p>
             <p>
                Download the Oneplan App, register, and visit www.onepetstore.co.za to start paying less for your pawfect pet's expenses with your exclusive access discount.            
            </p>
           
         
        </div>
       
    </div>
  </div>
</div>
<div class="row">
    <div class="col-md-12 text-center mt-5 mb-5">
         <a href="#" class="btn btn-primary">Back to Oneplan Website</a>
    </div>
</div>



@section Scripts {

}
